antora:
  extensions:
  - require: '@antora/lunr-extension'
    index_latest_only: true

site:
  title: VIVIDUS
  url: https://docs.vividus.dev
  start_page: vividus::index.adoc
  robots: allow

asciidoc:
  attributes:
    experimental: true

content:
  sources:
  - url: https://github.com/vividus-framework/vividus
    branches: [master]
    start_path: docs
    tags: [docs-*]

ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./supplemental-ui

output:
  clean: true
  dir: ./public
