site:
  title: VIVIDUS
  url: https://docs.vividus.dev/
  start_page: vividus::index.adoc
  robots: allow

content:
  sources:
  - url: ../vividus
    branches: HEAD
    start_path: docs
    tags: [docs-*]

ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./supplemental-ui

output:
  clean: true
  dir: ./public
