<footer class="footer" style="padding: 0.25rem">
  <p>Copyright (C) 2019-{{year}} Vividus team and individual contributors to <a href="https://vividus.dev">Vividus</a>. Vividus is licensed under the <a href="https://github.com/vividus-framework/vividus/blob/master/LICENSE">Apache License 2.0</a></p>
</footer>
