name: Vividus Documentation Deployment

on:
  repository_dispatch:
    types: [deploy]
  push:
    branches:
    - master

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v3

    - name: Install node
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    - run: npm i -g @antora/cli@3.0.1 @antora/site-generator@3.0.1 @antora/lunr-extension@1.0.0-alpha.5
    - run: antora ./antora-playbook.yml

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        user_name: ${{ secrets.COMMITTER_NAME }}
        user_email: ${{ secrets.COMMITTER_EMAIL }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
        cname: docs.vividus.dev

    - name: Deploy to Heroku
      uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        heroku_app_name: "docs-vividus-dev"
        heroku_email: "bitearray@gmail.com"
        appdir: "public"
